@charset "UTF-8";



body, ul , li , a{
    text-decoration: none;
    list-style: none;
}

#cabeçalho{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#menu{
    display: flex;
}

#menu > li > a{
    padding: 10px;
    margin: 5px;
    color: black;
}

#title{
    text-align: center;
    margin: 60px 0px;
}

#principal{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: auto;
}

article{
    flex: 1 1 300px;
    border: 2px solid black;
    padding: 30px;
    width: 300px;
    


}
